@layer starlight.components {
	.astro-code,
	.astro-code pre,
	pre.astro-code {
		background: var(--sl-color-gray-6);
		color: var(--sl-color-white);
		border: 1px solid var(--sl-color-gray-5);
		border-radius: 0.5rem;
		padding: 1rem;
		font-family: var(--__sl-font-mono);
		font-size: var(--sl-text-sm);
		line-height: var(--sl-line-height);
		overflow-x: auto;
	}

	.astro-code code,
	pre.astro-code code {
		background: transparent;
		color: inherit;
		font-family: inherit;
		font-size: inherit;
	}

	.starlight-aside {
		padding: 1rem;
		border-inline-start: 0.25rem solid var(--sl-color-asides-border);
		color: var(--sl-color-white);
	}
	.starlight-aside--note {
		--sl-color-asides-text-accent: var(--sl-color-blue-high);
		--sl-color-asides-border: var(--sl-color-blue);
		background-color: var(--sl-color-blue-low);
	}
	.starlight-aside--tip {
		--sl-color-asides-text-accent: var(--sl-color-purple-high);
		--sl-color-asides-border: var(--sl-color-purple);
		background-color: var(--sl-color-purple-low);
	}
	.starlight-aside--caution {
		--sl-color-asides-text-accent: var(--sl-color-orange-high);
		--sl-color-asides-border: var(--sl-color-orange);
		background-color: var(--sl-color-orange-low);
	}
	.starlight-aside--danger {
		--sl-color-asides-text-accent: var(--sl-color-red-high);
		--sl-color-asides-border: var(--sl-color-red);
		background-color: var(--sl-color-red-low);
	}
	.starlight-aside__title {
		display: flex;
		gap: 0.5rem;
		align-items: center;
		font-size: var(--sl-text-h5);
		font-weight: 600;
		line-height: var(--sl-line-height-headings);
		color: var(--sl-color-asides-text-accent);
	}
	.starlight-aside__icon {
		font-size: 1.333em;
		width: 1em;
		height: 1em;
	}
	.starlight-aside__title + .starlight-aside__content {
		margin-top: 0.5rem;
	}
	.starlight-aside__content a {
		color: var(--sl-color-asides-text-accent);
	}

	.sl-steps {
		--bullet-size: calc(var(--sl-line-height) * 1rem);
		--bullet-margin: 0.375rem;
		list-style: none;
		counter-reset: steps-counter var(--sl-steps-start, 0);
		padding-inline-start: 0;
	}
	.sl-steps > li {
		counter-increment: steps-counter;
		position: relative;
		padding-inline-start: calc(var(--bullet-size) + 1rem);
		padding-bottom: 1px;
		min-height: calc(var(--bullet-size) + var(--bullet-margin));
	}
	.sl-steps > li + li {
		margin-top: 0;
	}
	.sl-steps > li::before {
		content: counter(steps-counter);
		position: absolute;
		top: 0;
		inset-inline-start: 0;
		width: var(--bullet-size);
		height: var(--bullet-size);
		line-height: var(--bullet-size);
		font-size: var(--sl-text-xs);
		font-weight: 600;
		text-align: center;
		color: var(--sl-color-white);
		background-color: var(--sl-color-gray-6);
		border-radius: 99rem;
		box-shadow: inset 0 0 0 1px var(--sl-color-gray-5);
	}
	.sl-steps > li::after {
		--guide-width: 1px;
		content: '';
		position: absolute;
		top: calc(var(--bullet-size) + var(--bullet-margin));
		bottom: var(--bullet-margin);
		inset-inline-start: calc((var(--bullet-size) - var(--guide-width)) / 2);
		width: var(--guide-width);
		background-color: var(--sl-color-hairline-light);
	}

	starlight-file-tree {
		--x-space: 1.5rem;
		--y-space: 0.125rem;
		--y-pad: 0;
		display: block;
		border: 1px solid var(--sl-color-gray-5);
		padding: 1rem;
		background-color: var(--sl-color-gray-6);
		font-size: var(--sl-text-xs);
		font-family: var(--__sl-font-mono);
		overflow-x: auto;
	}
	starlight-file-tree .directory > details {
		border: 0;
		padding: 0;
		padding-inline-start: var(--x-space);
		background: transparent;
	}
	starlight-file-tree .directory > details > summary {
		margin-inline-start: calc(-1 * var(--x-space));
		border: 0;
		padding: var(--y-pad) 0.625rem;
		font-weight: normal;
		color: var(--sl-color-white);
		max-width: 100%;
	}
	starlight-file-tree .directory > details > summary::marker,
	starlight-file-tree .directory > details > summary::-webkit-details-marker {
		color: var(--sl-color-gray-3);
	}
	starlight-file-tree .directory > details > summary:hover,
	starlight-file-tree .directory > details > summary:hover .tree-icon {
		cursor: pointer;
		color: var(--sl-color-text-accent);
		fill: currentColor;
	}
	starlight-file-tree .directory > details > summary:hover ~ ul {
		border-color: var(--sl-color-gray-4);
	}
	starlight-file-tree .directory > details > summary:hover .highlight .tree-icon {
		color: var(--sl-color-text-invert);
		fill: currentColor;
	}
	starlight-file-tree ul {
		margin-inline-start: 0.5rem;
		border-inline-start: 1px solid var(--sl-color-gray-5);
		padding: 0;
		padding-inline-start: 0.125rem;
		list-style: none;
	}
	starlight-file-tree > ul {
		margin: 0;
		border: 0;
		padding: 0;
	}
	starlight-file-tree li {
		margin: var(--y-space) 0;
		padding: var(--y-pad) 0;
	}
	starlight-file-tree .file {
		margin-inline-start: calc(var(--x-space) - 0.125rem);
		color: var(--sl-color-white);
	}
	starlight-file-tree .tree-entry {
		display: inline-flex;
		align-items: flex-start;
		flex-wrap: wrap;
		max-width: calc(100% - 1rem);
	}
	@media (min-width: 30em) {
		starlight-file-tree .tree-entry {
			flex-wrap: nowrap;
		}
	}
	starlight-file-tree .tree-entry > :first-child {
		flex-shrink: 0;
	}
	starlight-file-tree .empty {
		color: var(--sl-color-gray-3);
		padding-inline-start: 0.375rem;
	}
	starlight-file-tree .comment {
		color: var(--sl-color-gray-3);
		padding-inline-start: 1.625rem;
		max-width: 24rem;
		min-width: 12rem;
	}
	starlight-file-tree .highlight {
		display: inline-block;
		border-radius: 0.25rem;
		padding-inline-end: 0.5rem;
		color: var(--sl-color-text-invert);
	}

	starlight-tabs,
	.starlight-tabs {
		display: block;
	}
	.starlight-tabs .tablist-wrapper {
		overflow-x: auto;
	}
	.starlight-tabs [role='tablist'] {
		display: flex;
		list-style: none;
		border-bottom: 2px solid var(--sl-color-gray-5);
		padding: 0;
	}
	.starlight-tabs .tab {
		margin-bottom: -2px;
	}
	.starlight-tabs .tab > [role='tab'] {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		padding: 0 1.25rem;
		text-decoration: none;
		border-bottom: 2px solid var(--sl-color-gray-5);
		color: var(--sl-color-gray-3);
		outline-offset: var(--sl-outline-offset-inside);
		overflow-wrap: initial;
	}
	.starlight-tabs .tab [role='tab'][aria-selected='true'] {
		color: var(--sl-color-white);
		border-color: var(--sl-color-text-accent);
		font-weight: 600;
	}
	.starlight-tabs .tablist-wrapper ~ [role='tabpanel'] {
		margin-top: 1rem;
	}
	.starlight-tabs > .starlight-tabs__panel {
		margin-top: 1rem;
	}

	check-list > * + * {
		margin-top: 1rem;
	}

	.checklist > ul {
		list-style: none;
		padding-inline-start: 0;
	}

	check-list label {
		display: block;
		position: relative;
		margin: 0 -1rem !important;
		border-radius: 0.5rem;
		padding-block: 0.5rem;
		padding-inline: 3.5rem 0.5rem;
		cursor: pointer;
		font-size: var(--sl-text-lg);
		color: var(--sl-color-green-high);
	}

	check-list label span {
		display: inline-block;
	}

	check-list input[type='checkbox'] {
		-webkit-appearance: none;
		appearance: none;
	}

	check-list input[type='checkbox']:focus {
		outline: none;
	}

	check-list input[type='checkbox']::after {
		content: '';
		position: absolute;
		inset-inline-start: 1rem;
		top: 50%;
		transform: translateY(-50%);
		transform-origin: center;
		text-align: center;
		line-height: 1.25;
		width: 1.25em;
		height: 1.25em;
		font-size: 1.25em;
		border: 1px solid var(--sl-color-green-high);
		border-radius: 0.25rem;
		color: var(--sl-color-green);
		cursor: pointer;
	}

	check-list input[type='checkbox']:focus::after {
		outline: 3px solid var(--sl-color-green);
		outline-offset: 0.5rem;
	}

	check-list input[type='checkbox']:not(:focus-visible)::after {
		outline: none;
	}

	check-list label:has(> input[type='checkbox']:checked) {
		color: var(--sl-color-white);
	}

	check-list input[type='checkbox']:checked::after {
		content: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='4' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.0946 6.02558C20.6992 6.592 20.7301 7.54124 20.1636 8.14578L10.3868 18.5806C9.55548 19.468 8.14726 19.468 7.3159 18.5806L4.02558 15.0689C3.45917 14.4643 3.49008 13.5151 4.09461 12.9487C4.69915 12.3822 5.6484 12.4132 6.21481 13.0177L8.85137 15.8317L17.9744 6.09461C18.5408 5.49007 19.4901 5.45917 20.0946 6.02558Z' fill='%232F4D22'/%3E%3C/svg%3E%0A");
		border: none;
	}

	.or {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		gap: 1em;
		text-transform: uppercase;
		font-weight: bold;
		color: var(--theme-text-lighter);
	}

	.or::before,
	.or::after {
		--divider-width: 4px;
		content: '';
		background-image: linear-gradient(
			to bottom,
			transparent calc(50% - var(--divider-width) / 2),
			var(--theme-divider) calc(50% - var(--divider-width) / 2) calc(50% + var(--divider-width) / 2),
			transparent calc(50% + var(--divider-width) / 2) 100%
		);
	}
}

@layer starlight.content {
	.sl-steps > li > :first-child {
		--lh: calc(1em * var(--sl-line-height));
		--shift-y: calc(0.5 * (var(--bullet-size) - var(--lh)));
		transform: translateY(var(--shift-y));
		margin-bottom: var(--shift-y);
	}
	.sl-steps > li > :first-child:where(h1, h2, h3, h4, h5, h6) {
		--lh: calc(1em * var(--sl-line-height-headings));
	}
	@supports (--prop: 1lh) {
		.sl-steps > li > :first-child {
			--lh: 1lh;
		}
	}
}
